<div class="jumbotron jumbo-home">
	<div class="title-text">
  	<h1>E-Veggies</h1>
  	<p>Your Online Grocery Store</p>
	</div>
</div>

<div class="container">

	<div id="cart">
	  <%= render "products/cart" %>
	</div>

	<div class="sub-header">
	  <h1>All Products:</h1>
	</div>

	<%= link_to 'Create a New Product', new_product_path, class: "btn btn-success", remote: true %>

	<ul class="product-list">  
	    <%= render 'index' %>
	</ul>
</div>